* {
    box-sizing: border-box;
}

html, body {

    min-height: 100vh;
	  width: 100%;
	  margin: 0;
	  padding: 0;
    background-color: rgb(247, 238, 210);
    font-family: 'Shadows Into Light', cursive;
    
}

input {
  width: 80%;
  height: 25px;
  border-radius: 5px;
}


select {
  width: 80%;
  height: 25px;
  border-radius: 5px;
}

/* NAVIGATION*/

.nav-container {
    background-color: rgb(44, 184, 184 ) ;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;     
}

.nav-container > div {   
    font-size: 3.5rem;
  }
.nav-container a {
    text-decoration: none;
    color: whitesmoke;
  }

.nav-container a:hover{
    color: rgb(48, 47, 47);
    transition: 5ms;
  }



/* CONTENT */
  .content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }

  .content-container-impressum {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; 
  }

  .content-container-help {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    text-align: center;
    
  }
  .product {
    flex: 1;
    padding: 5% 7%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px ;
}

.product a{
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

.reg {

    height: 100vh;  
    flex: 1;    
    text-align: center;
    
}

.reg-form{
  background-color: rgb(44, 184, 184 )  ;
  margin: 10px;
  border-radius: 10px;
  margin-top: 50px;
}

  .hero{   
    height: 40vh;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    
}


/* FONTS */
.h2-hero {
  font-size: 3rem;
  color:  rgb(44, 184, 184 )  ;
  font-weight:bolder;
  background-color: rgba(240, 248, 255, 0.363);
  border-radius: 5px;
}

.p-hero {
  font-size: 2rem;
}

.p-products {
  font-size: 2rem;
  color: rgb(48, 47, 47); 
}

.h4-products {
  font-size: 3rem;
  color:  rgb(48, 47, 47) ;
  font-weight:bolder;
  margin: 0;
}
.btn-hero{ 
    background-color: rgb(44, 184, 184 ) ;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 4px;  
  
}

.margin-top {
  margin-top: 10px;
}

.padding-bottom{
  padding-bottom: 10px;
}

.btn-hero:hover{
  color: rgb(48, 47, 47);
  transition: 5ms;
}

.centered {
  text-align: center;
}

div p {
    color: aliceblue;
}
/*FOOTER */  

  .footer-container{
    background-color: rgb(44, 184, 184 ) ; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0; 
  }

  .footer-container > div {   
    font-size: 2rem;
  }

  .footer-container a {
    text-decoration: none;
    color: whitesmoke;
  }

  .footer-container a:hover{
    color: rgb(48, 47, 47);
    transition: 5ms;
  }

  .button{
    background-color:rgb(48, 47, 47);
    border: none;
    color: white;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
  }


  /* COLORS */

  .bg-content {
    background-color: rgb(247, 238, 210);
  }

  .bg-navbar {
    background-color: rgb(44, 184, 184 ) ;
  }

  .bg-footer {
    background-color: rgb(44, 184, 184 ) ;
  }

  .text-nav-footer {
    text-decoration: none;
    color: whitesmoke;
  }

  .content-container-impressum p{
  color:rgb(48, 47, 47);
  }

  .content-container-impressum a{
    text-decoration: none;
    font-weight: bold;
    }

  .content-container-help p {
    color:rgb(48, 47, 47);
  }

  .content-container-help a {
    text-decoration: none;
    font-weight: bold;
  }
  /* IMAGES */
.home {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/hero_home_1920.jpg);
}

.category-1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/hero_home2_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
}

.category-2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/dark_cookie_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
}

.category-3{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/cupcake_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
}

.category-4{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/white_dark_cookie_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
}

.category-5{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/white_cookie1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
}

.category-6{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/cupcake_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    border-radius: 10px;
}

  @media screen and (max-width: 1000px){

    .nav-container{
        flex-direction: column;
    }
    .nav-container > div {   
        font-size: 1.8rem;
      }

    .nav-item-first {
        order: -1;
      }


      .h2-hero {
        font-size: 2rem;
        color:  rgb(44, 184, 184 )  ;
        font-weight:bolder;
      }
      
      .p-hero {
        font-size: 1rem;
      }
      
      


      .content-container {        
        flex-direction: column;
        text-align: center;
      }

      .product {
       
      margin-bottom: 10px;
    }

    .margin-top {
      margin-top: 0px;
    }

    .mb {
      margin-bottom: 30px;
    }

    .h4-products {
      font-size: 1.5rem;
      
    }

  }

