<div class="container-fluid bg-warning mt-5 footer " >
    <div class="row">
      <div class="col p-2 float-start ms-5"><a href="help.html" class="text-white text-decoration-none fs-4">Help</a></div>
      <div class="col p-2"><a href="#"><i class="fa-brands fa-instagram text-white float-end fs-3"></i></a></div>
      <div class="col p-2"><a href="#"><i class="fa-brands fa-tiktok text-white float-start fs-3"></i></a></div>
      <div class="col p-2 float-end me-5"><a href="impressum.html" class="text-white text-decoration-none float-end fs-4">Impressum</a></div>
    </div>
  </div>

  <!--  style="position:fixed; bottom: 0;" -->