<script src="cart.js" defer></script>
<div class="offcanvas offcanvas-end" data-bs-scroll="true"
      data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-warning fs-2" id="offcanvasNavbarLabel" style="margin: auto">Your Basket</h5>
      </div>
      <div class="offcanvas-body">

        <div class="row border border-warning rounded shadow-sm mt-2">
          <div class="col p-2">              
              <a href="#"><img width="150px" height="150px" src="/img/brownieVanilla.jpg" alt="" class="rounded" ></a>                       
          </div>
          <div class="col p-2">
            <p>Brownie Vanilla</p>
              <p>1x 5,99</p>
              <p><button class="btn btn-outline-danger btn-sm">delete</button></p>
          </div>
        </div>
        
        <div id="cart">
          <div id="cart-items">
                    
          </div>
          <div id="empty-cart-message">
            Your basket is empty.
          </div>
          <div id="cart-total">
            Total: $<span id="cart-total-amount">0.00</span>
          </div>

      </div>    
          <div class="row">
            <div class="col">
              <button id = continueShopping class="btn btn-warning text-white shadow text-decoration-none" data-bs-dismiss="offcanvas">Keep shopping</button>
            </div>
            <div class="col">
              <button class="btn btn-warning text-white float-end shadow">Checkout</button>
            </div>
          </div> 
      </div>
</div>