<div class="offcanvas offcanvas-end" data-bs-scroll="true"
      data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-warning fs-2" id="offcanvasNavbarLabel">My Basket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
      
        
      </div>
    </div>
    <div class="row border border-warning rounded shadow-sm mt-2">
      <div class="col p-2">
        <a href="#"
          ><img
            width="150px"
            height="150px"
            src="/img/chocolateMacarons.jpg"
            alt=""
            class="rounded"
        /></a>
      </div>
      <div class="col p-2">
        <p>Chocolate Macaron</p>
        <p>3x 4,99</p>
        <p><button class="btn btn-outline-danger btn-sm">delete</button></p>
      </div>
    </div>
    <div class="row border border-warning rounded shadow-sm mt-2">
      <div class="col p-2">
        <a href="#"
          ><img
            width="150px"
            height="150px"
            src="/img/carrotcakeCupcake.jpg"
            alt=""
            class="rounded"
        /></a>
      </div>
      <div class="col p-2">
        <p>Carrot Cupcake</p>
        <p>1x 7,99</p>
        <p><button class="btn btn-outline-danger btn-sm">delete</button></p>
      </div>
    </div>

    <div class="row">
      <div class="col p-2">
        <p class="fs-3">Sum:</p>
      </div>
      <div class="col p-2">
        <p class="fs-3">25,99</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-warning text-white shadow">
          <a href="shop.html" class="text-white text-decoration-none"
            >back to shop</a
          >
        </button>
      </div>
      <div class="col">
        <button class="btn btn-warning text-white shadow" id="checkoutButton">
          <a href="order.html" class="text-white text-decoration-none"
            >checkout</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
